* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.one {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 90%;
}

.two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    width: 90%;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
}

.top-right {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.top-right a {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 0.625rem;
    font-size: 1.5rem;
}

.top-right a:hover {
    color: #ff5c00;
}

.site-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.order-button {
    background-color: #ff5c00;
    border: 1px solid #d44e00;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.8rem;
}

.order-button:hover {
    background-color: #e95600;
    cursor: pointer;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-left h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-right .phone-number {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.bottom-right h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

@media (max-width: 1440px) {

    .one {
        margin-bottom: 18%;
    }

    .two {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .bottom-left {
        margin-bottom: 3rem;
    }

    .bottom-right {
        margin-bottom: 2rem;
    }

    .bottom-left,
    .bottom-right {
        text-align: center;
    }
}

@media (max-width: 1024px) {

    .container {
        justify-content: flex-start;
    }

    .one {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .top-left {
        margin-left: 0;
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .site-name {
        text-align: center;
    }

    .one {
        padding-top: 2rem;
        margin: 0;
    }

    .two {
        margin: 0;
    }
}