@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header {
    /* border: 1px dashed red; */
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
}

header a:hover {
    color: red;
}

.logo {
    font-size: 2.5rem;
    margin-left: 7rem;
}

.nav-links {
    /* border: 1px dashed greenyellow; */
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.nav-links a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.nav-links a:hover {
    color: red;
}

.main-title {
    /* border: 1px dashed green; */
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 20vh;
    margin-bottom: 2rem;
}

.sub-title {
    /* border: 1px dashed yellow; */
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.btn-container {
    /* border: 1px dashed greenyellow; */
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: auto;
}

button {
    color: white;
    font-size: 1.2rem;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid rgba(225, 0, 0, 0.8);
    padding: 1rem 3rem;
    width: 15rem;
}

button:hover {
    border: none;
    background-color: rgba(255, 0, 0, 0.3);
    cursor: pointer;
}

@media (max-width: 1440px) {

    .btn-container {
        /* border: 1px dashed yellow; */
        height: 10rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header {
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        margin: 2rem 0;
    }

    .nav-links {
        /* border: 1px dashed yellow; */
        margin: auto;
        width: 50%;
    }

    .main-title {
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;
    }
}

@media (max-width: 1024px) {

    .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links a {
        margin: 0.3rem 0;
    }

    .main-title {
        margin-top: 23vh;
    }
}