* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

p {
    text-align: center;
}

#line-one {
    margin: 30px 0 5px 0;
}

#line-two {
    margin: 5px 0 30px 0;
}


.part {
    /* width: 50%; */
    height: 100vh;
}

.one {
    display: flex;
    align-items: center;
    width: 66%;
    background-color: black;
    position: relative;
}

.two {
    width: 33%;
    background-color: bisque;
    color: black;
}

#video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#schedule {
    color: black;
}

table {
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: burlywood;
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    padding: 2px;
}
